{% extends "base.html" %}

{% block body %}
{% load static %}

<div class="container-fluid mt-0 p-0">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static "image/banner.jpg" %} class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static "image/banner2.jpg" %} class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src={% static "image/banner3.jpg" %} class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container mt-5 mb-5">

  <div class="row ">
    {% for item in data %}
    <div class="col-4">
      <div class="card">
        <img src="/media/{{item.img}}" class="img-fluid img-height" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.desc}}.</p>
          <div class="d-flex justify-content-between">
            <a href={% url 'add_to_cart' item.id %}><button type="button" class="btn btn-secondary">Add To Cart</button></a>
            <a href={% url 'add_to_wishlist' item.id %}><button type="button" class="wish-btn" >&#10084;</button></a>
          </div>

        </div>


      </div>

    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}