{% extends "base.html" %}

{% block body %}
{% load static %}

<div class="container mt-5 mb-5">

  <div class="row ">
    {% for item in data %}
    <div class="col-4">
      <div class="card">
        <img src="/media/{{item.img}}" class="img-fluid img-height" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.desc}}.</p>
          <div class="d-flex justify-content-between">
            <a href={% url 'add_to_cart' item.id %}><button type="button" class="btn btn-secondary">Add To Cart</button></a>
            <a href={% url 'add_to_wishlist' item.id %}><button type="button" class="wish-btn" >&#10084;</button></a>
          </div>

        </div>


      </div>

    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}